<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Invoices</title>
</head>
<body>
    <h1>Invoices App</h1>

    <h2>All Invoices</h2>
    <ul>
        {% for invoice in invoices %}
            <li><a href="view?invoice={{ invoice }}">{{ invoice }}</a></li>
        {% endfor %}
    </ul>

    <h2>Controls</h2>
    <ul>
        <li><a href="create">Create</a></li>
        <li><a href="delete">Delete All</a></li>
    </ul>
</body>
</html>